:root {
  background-color: bisque;
}

body {
  font-family: Arial, sans-serif;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

/* tabela */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

th, td {
  padding: 1rem;
}

th + td,
th + th {
  text-align: right;
}

/* Exemplos */

tr:nth-child(even) td {
  background-color: lightblue;
}

tr:nth-child(odd) td {
  background-color: yellow;
}
