.container {
  background: yellow;
  padding: 10px; /*Padding ao redor do container que é o pai*/
  margin-bottom: 20px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-auto-rows: 200px; /*altera apenas para os que já são atribuidos de forma automática */
}

.item {
  border: 1px solid black;
}

.item-01 {
  background: palevioletred;
}

.item-02 {
  background: cornflowerblue;
}

.item-03 {
  background: palegreen;
}

.item-04 {
  background: orange;
}

.item-05 {
  background: cadetblue;
}

.item-06 {
  background: aqua;
}

.item-07 {
  background: tomato;
}
