.container {
  background: yellow;
  padding: 10px; /*Padding ao redor do container que é o pai*/
  margin-bottom: 20px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  /* grid-template-columns: repeat(3, 1fr  2fr); 1fr 2fr 1fr 2fr 1fr 2fr */
  /* grid-template-columns: repeat(3, 200px 100px);  */
  /* grid-template-columns: 100px repeat(3, 1fr) 100px; */
  /* grid-template-columns: repeat(3, 1fr); três linhas com 1fr */
  grid-template-rows: repeat(2, 1fr);  /* 2 colunas com 1fr (obrigatóriamente terá que definir uma altura height)*/
  /* grid-template-columns: 1fr 1fr 1fr 1fr; ocupa uma fração do espaço disponivel no container */
  /* grid-template-columns: 50% 200px 30rem; */
  /* grid-template-columns: 50% 30% 10% 10%; */
  /* grid-template-columns: 200px 300px 100px 150px; */
  /* grid-template-columns: 200px 300px 100px; */
}

.item {
  border: 1px solid black;
}

.item-01 {
  background: palevioletred;
}

.item-02 {
  background: cornflowerblue;
}

.item-03 {
  background: palegreen;
}

.item-04 {
  background: orange;
}

.item-05 {
  background: cadetblue;
}

.item-06 {
  background: aqua;
}

.item-07 {
  background: tomato;
}
