.container {
  background: yellow;
  padding: 10px; /*Padding ao redor do container que é o pai*/
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 300px 200px 100px;
  /* grid-template-columns: 50% 200px 30rem; */
  /* grid-template-columns: 50% 30% 10% 10%; */
  /* grid-template-columns: 200px 300px 100px 150px; */
  /* grid-template-columns: 200px 300px 100px; */
}

.item {
  border: 1px solid black;
}

.item-01 {
  background: palevioletred;
}

.item-02 {
  background: cornflowerblue;
}

.item-03 {
  background: palegreen;
}

.item-04 {
  background: orange;
}

.item-05 {
  background: cadetblue;
}

.item-06 {
  background: aqua;
}

.item-07 {
  background: tomato;
}
