.container {
  background-color: palegreen;
  padding: 20px; /*Padding ao redor do container que é o pai*/
  display: flex; /*Coloca o item = a filho um ao lado do outro*/
}

.item {
  background-color: orange;
  margin: 10px; /*margin ao redor do intem que é o filho*/
}
