.container {
  background-color: palegreen;
  margin: 20px;
  width: 300px;
  height: 250px;
  padding: 10px;

  display: flex;
 flex-wrap: wrap;
 gap: 30px 20px; /*valores colunas e linhas*/
 /* gap: 20px; */ /*mesmo valores colunas e linhas*/
 /* gap: 20%; */ /*mesmo valores colunas e linhas*/
 /* gap: 1rem; */ /*mesmo valores colunas e linhas*/
 /* row-gap: 10px;
 column-gap: 20px; */

}

.item {
  background-color: orange;
}

#container-01 {
  flex-direction: row;
}

#container-02 {
  flex-direction: column;
}

