body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 247, 247);

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 300px;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  position: absolute;
  background: #d53369;

  /* animation-name: safira-marcelo; 
  animation-duration: 2s; 
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */

  /* abaixo está abreviadamente em uma só linha o código acima, 
  não é necessario colocar todas, faça de acordo a sua necessidade */
  animation: safira-marcelo 5s linear 2s infinite alternate;


}

.box:hover {
  animation-play-state: paused;
}

@keyframes safira-marcelo {
  0% {
    background: palegreen;
  }
  50% {
    background: darkblue;
  }
  100% {
    background: purple;
  }
}
