body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 247, 247);

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 300px;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  position: absolute;
  background: #d53369;

  animation-name: safira-marcelo; /* obrigatório */
  animation-duration: 4s; /* obrigatório */
  animation-delay: 2s;
  animation-direction: reverse;
  animation-fill-mode: both;
  /* animation-fill-mode: forwards; */
  /* animation-fill-mode: backwards; */
  /* animation-fill-mode: forwards; */
}

@keyframes safira-marcelo {
  0% {
    background: palegreen;
  }
  50% {
    background: darkblue;
  }
  100% {
    background: purple;
  }
}