/* 
* VÁRIAVEIS CSS
* Declaração: --nome-da-variavel
* Referência: var(--nome-da-variavel) 
*/
:root {
  --font-size-title: 5rem;
  --box-shadow-default: 10px 10px 10px lightgrey;
  /* --text-color: red; */
}

.light-theme {
  --bg-body: rgb(247, 247, 247);
  --bg-safira: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.dark-theme {
  --bg-marcelo: rgb(34, 34, 34);
  --bg-safira: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-marcelo);
  text-align: center;
}

h1 {
  background: var(--bg-safira);
  font-size: 5rem;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

a {
  text-decoration: none;
  background: var(--bg-safira);
  padding: 8px 14px;
  border-radius: 4px;
  color: #fafafa;
  box-shadow: var(--box-shadow-default);
}

p {
  /* Pelo fato de estar comentada no root ele colocar alternativa que é azul */
  color: var(--text-color, blue);
}
