body {
  font-family: Arial, sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav li {
  background-color: lightgreen;
  padding: 8px;
  border-radius: 4px;
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: column;
}