body {
  font-family: Arial, sans-serif;
}

p {
  background-color: palegreen;
}

#conteudo p {
  background-color: palevioletred;
}

#conteudo p.texto {
  background-color: paleturquoise;
}

/* main {
  max-width: 500px;
  margin: auto;
} */
